@blue: rgba(84, 81, 230, 0.6);
@red: rgba(255, 42, 42, 0.6);

@import 'tree-view';

html {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body,
#root,
#root > * {
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: 0;
}

.chart {
    margin-bottom: 10px;
}

.form-input {
    display: inline-block;
    width: initial;
}

p {
    margin: 10px 0;
}

.infer-block {
    .form-input {
        width: 100%;
    }
}
